// @font-face {
//   font-family: 'icomoon';
//   src: url('../../fonts/icomoon.eot');
//   src: url('../../fonts/icomoon.eot') format('embedded-opentype'), url('../../fonts/icomoon.woff') format('woff'),
//     url('../../fonts/icomoon.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot');
  src: url('../../fonts/icomoon.eot') format('embedded-opentype'), url('../../fonts/icomoon.woff') format('woff'),
    url('../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// @font-face {
//   font-family: 'Open Sans';
//   src: url('fonts/OpenSans-Bold.woff2') format('woff2'), url('fonts/OpenSans-Bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: 'Open Sans';
//   src: url('fonts/OpenSans-Light.woff2') format('woff2'), url('fonts/OpenSans-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: 'Open Sans';
//   src: url('fonts/OpenSans-Regular.woff2') format('woff2'), url('fonts/OpenSans-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: 'Open Sans';
//   src: url('fonts/OpenSans-SemiBold.woff2') format('woff2'), url('fonts/OpenSans-SemiBold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: 'Open Sans';
//   src: url('fonts/OpenSans-ExtraBold.woff2') format('woff2'), url('fonts/OpenSans-ExtraBold.woff') format('woff');
//   font-weight: 800;
//   font-style: normal;
//   font-display: block;
// }

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-air:before {
  content: '\e912';
}
.icon-arrow:before {
  content: '\e913';
}
.icon-dimensions:before {
  content: '\e914';
}
.icon-electrical:before {
  content: '\e915';
}
.icon-extraction:before {
  content: '\e916';
}
.icon-in:before {
  content: '\e917';
}
.icon-packed:before {
  content: '\e918';
}
.icon-plate:before {
  content: '\e919';
}
.icon-size:before {
  content: '\e91a';
}
.icon-tw:before {
  content: '\e91b';
}
.icon-weight:before {
  content: '\e91c';
}
.icon-yb:before {
  content: '\e91d';
}
.icon-linkedin2:before {
  content: '\e911';
}
.icon-arrow-down-list:before {
  content: '\e900';
}
.icon-arrow-next:before {
  content: '\e901';
}
.icon-arrow-prev:before {
  content: '\e902';
}
.icon-calendar:before {
  content: '\e903';
}
.icon-linkedin:before {
  content: '\e904';
}
.icon-location:before {
  content: '\e905';
}
.icon-mail:before {
  content: '\e906';
}
.icon-phone:before {
  content: '\e907';
}
.icon-play:before {
  content: '\e908';
}
.icon-resolution:before {
  content: '\e909';
}
.icon-size1:before {
  content: '\e90a';
}
.icon-twitter1:before {
  content: '\e90b';
}
.icon-user:before {
  content: '\e90c';
}
.icon-social-facebook:before {
  content: '\e910';
}
.icon-twitter:before {
  content: '\e90e';
}
.icon-youtube:before {
  content: '\e90f';
}
.icon-youtube-with-circle:before {
  content: '\e90d';
}
.icon-facebook:before {
  content: '\ea90';
}
