.error404 {
    background-color: $gray-100;
}

.not-found {
    background-image: url('../../images/404.png');
    background-repeat: no-repeat;
    background-position: left center;
    
    @include media('<=desktop-max') {
        padding: 0;
    }

    @include media('<=desktop-max') {
        background-position: center center;
    }

    &.active {
        background-image: url('../../images/404-hover.png');
    }

    .inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100vh;

        @include media('<=desktop-max') {
            justify-content: center;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 35%;
        padding: 0 0 0 6px;

        @include media('<=desktop-max') {
            width: 100%;
            align-items: center;
        }
    }

    h2 {
        margin: 0 0 48px;
        font-size: 40px;
        line-height: 54px;
        font-weight: 700;

        @include media('<=desktop-max') {
            margin: 0 0 30px;
        }

        @include media('<phone') {
            font-size: 32px;
        }
        span {
            display: block;
            margin: 0 0 81px;
            font-size: 145px;
            color: $white;

            @include media('<=desktop-max') {
                margin: 0 0 30px;
                line-height: 115px;
                text-align: center;
            }

            strong {
                position: relative;
                font-weight: 700;
                z-index: 1;

                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 84px;
                    height: 79px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }

                &:before {
                    background-image: url('../../images/vector-left.svg');
                    z-index: -1;
                }

                &:after {
                    background-image: url('../../images/vector-right.svg');
                    z-index: 2;
                }
            }
        }
    }

    p {
        margin: 0 0 64px 2px;
        line-height: 32px;

        @include media('<=desktop-max') {
            margin: 0 0 30px;
        }

        @include media('<=tablet') {
            width: 50%;
            text-align: center;
        }

        @include media('<tablet') {
            width: 100%;
        }
    }

    .more {
        align-self: flex-start;

        @include media('<=desktop-max') {
            align-self: center;
        }


        &:hover {
            color: $white;

            &:after {
                right: -50px;
                
                color: $white;
                background-color: $red;
                
            }
        }

        
        &:after {
            right: -50px;
            padding: 7px 9px;
            background: transition;
            border-radius: 50%;
            transition: background .1s ease;
        }
    }
}