.article {
  position: relative;
  background-color: $gray-100;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;

  &.policies {
    h2 {
      margin: 50px 0;

      @include media('<tablet') {
        margin: 30px 0;
        font-size: 30px;
        line-height: 35px;
      }

      address {
        margin: 15px 0 0;
        font-size: 40px;
        font-weight: 600;

        @include media('<tablet') {
          font-size: 20px;
          line-height: 27px;
        }
      }
    }

    h3,
    h3 strong {
      margin: 30px 0;
      font-size: 22px;
      font-weight: bold;
      text-transform: inherit;

      @include media('<tablet') {
        margin: 15px 0;
      }
    }

    p {
      margin: 0 0 10px;
    }
  }

  & > div:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020 100%);
    }

    img {
      width: 100%;
    }
  }

  .container,
  section {
    position: relative;
    z-index: 1;
  }
}
