.categories {
  position: relative;
  background-color: $gray-100;

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .card {
    margin-bottom: 30px;

    @include media('<tablet') {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 0;

      @include media('<desktop') {
        margin-bottom: 30px;
      }

      @include media('<tablet') {
        margin-bottom: 20px;
      }
    }
  }
}
