.contact {
  background-color: $gray-100;

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .h1 {
    margin: 0;
    padding: 67px 0 9px;

    @include media('<=widescreen') {
      padding: 0;
    }
  }
}
