.download {
  background-color: $gray-100;

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .h1 {
    margin: 68px 0 0;

    @include media('<=425px') {
      margin: 24px 0 0;
    }
  }
}
