.news {
  background-color: $gray-100;

  @include media('<tablet') {
    background-position: center 60px;
  }

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .h1 {
    margin: 0;
    padding: 68px 0 0;

    @include media('<=widescreen') {
      padding: 0;
    }
  }

  .news-section {
    min-height: 805px;

    @include media('<=widescreen') {
      min-height: 630px;
    }

    @include media('<=desktop') {
      min-height: inherit;
    }
  }

  .news-slider {
    top: 9px;

    @include media('<=desktop') {
      padding-bottom: 0;
    }
  }

  .slick {
    &-arrow {
      bottom: -79px;

      @include media('<=desktop') {
        bottom: -60px;
      }
    }

    &-next {
      left: 52px;
    }
  }

  .progress-wrapper {
    bottom: 43px;
    margin-left: 67px;

    @include media('<=widescreen') {
      bottom: 2px;
    }

    @include media('<desktop-max') {
      bottom: 6px;
      margin-left: 140px;
    }

    @include media('<=desktop') {
      bottom: 9px;
      margin-left: 95px;
    }
  }
}
