.article-section {
  padding: 0 0 100px;

  .container {
    max-width: 780px;
  }

  @include media('<=tablet') {
    padding: 0 0 60px;
  }

  @include media('<tablet') {
    padding: 0 0 30px;
  }

  .inner-wrapper {
    flex-direction: column;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
  }

  .h1 {
    margin: 0 0 21px;
    font-size: 48px;
    line-height: 65px;

    @include media('<=phone') {
      font-size: 30px;
      line-height: 48px;
    }

    @include media('<phone') {
      margin: 0 0 16px;
      font-size: 24px;
      line-height: 35px;
    }
  }

  .title {
    margin: 0 0 60px;

    @include media('<=desktop-max') {
      margin-bottom: 150px;
    }

    @include media('<=desktop') {
      margin: 30px 0 100px;
    }

    @include media('<=tablet') {
      margin: 30px 0 60px;
    }
  }

  .time {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);

    @include media('<=phone') {
      padding-left: 20px;
      font-size: 14px;
    }
  }

  h5 {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    color: $white;
  }

  ol,
  ul {
    position: relative;
    margin: 30px 0;
    padding: 0;
    list-style: none;

    &:before {
      position: absolute;
      content: attr(aria-label);
      left: 0;
      top: -66px;
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
    }

    li {
      position: relative;
      margin: 0 0 30px;
      padding: 0 0 0 55px;
      font-size: 18px;
      line-height: 36px;

      &:last-of-type {
        margin: 0;
      }

      &:before {
        position: absolute;
        left: 0;
        background-color: $red;
      }
    }
  }

  ol {
    counter-reset: myCounter;

    li {
      counter-increment: myCounter;

      &:before {
        content: counter(myCounter);
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        color: $white;
        border-radius: 50%;
      }
    }
  }

  ul {
    li {
      &:before {
        content: '';
        top: 18px;
        width: 36px;
        height: 2px;
      }
    }
  }

  blockquote {
    position: relative;
    margin: 0 0 40px;
    padding: 0 0 0 25px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.9);

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      width: 5px;
      background-color: $red;
    }
  }

  figure {
    margin: 30px 0;

    @include media('<=desktop') {
      margin: 0 0 40px;
    }

    img {
      margin: 0 0 20px;
    }

    figcaption {
      position: relative;
      padding: 0 0 0 55px;
      font-size: 18px;
      font-style: italic;
      line-height: 36px;

      &:before {
        position: absolute;
        content: '';
        top: 17px;
        left: 0;
        width: 39px;
        height: 2px;
        background-color: $red;
      }
    }
  }

  p {
    margin: 0;
    font-size: 18px;
    line-height: 36px;

    @include media('<tablet') {
      font-size: 16px;
      line-height: 32px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .references {
    h2 {
      margin: 30px 0;
      font-size: 24px;
      line-height: 36px;
    }

    ul {
      li {
        padding: 0;
        &:before {
          display: none;
        }
      }
    }

    .share {
      display: flex;
      align-items: center;
      margin: 30px 0;
      background-color: $gray;

      h3 {
        margin: 20px 0;
        padding: 0 0 0 60px;
        font-size: 24px;
        font-weight: bold;
        line-height: 33px;

        @include media('<tablet') {
          padding: 0 20px 0 20px;
        }
      }

      ul {
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;

        @include media('<tablet') {
          width: 80%;
        }

        li {
          margin: 0;
          padding: 0;

          @include media('<tablet') {
            width: 33%;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 40px 70px;
        font-size: 29px;

        @include media('<tablet') {
          padding: 20px 0;
          width: 100%;
        }

        &:hover {
          background-color: $red;
        }
      }
    }
  }

  table {
    font-size: 18px;
    line-height: 36px;
  }
}
