.calc-section {
  padding: 75px 0 150px;

  @include media('<widescreen') {
    padding: 0 0 75px;
  }

  @include media('<=desktop') {
    padding: 0 0 25px;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #cb0e10;

    @include media('<=tablet') {
      flex-direction: column;
    }

    .col {
      width: 50%;

      @include media('<=tablet') {
        width: 100%;
      }

      &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px 0 20px 80px;
        color: #fff;

        @include media('<=large') {
          padding: 20px 0 20px 40px;
        }

        @include media('<=tablet') {
          align-items: center;
          padding: 60px 20px 0;
        }
      }
      &-right {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 20px 0 0;
      }
    }

    span {
      display: block;
      margin: 0 0 20px;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      line-height: 25px;

      @include media('<=large') {
        font-size: 16px;
      }
    }

    h3 {
      margin: 0 0 40px;
      font-family: 'Open Sans', sans-serif;
      font-size: 32px;
      font-weight: 800;
      line-height: 44px;

      @include media('<=large') {
        margin: 0 0 30px;
        font-size: 26px;
        line-height: 1.2;
      }

      @include media('<=tablet') {
        text-align: center;
      }
    }

    a {
      position: relative;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      text-decoration: none;
      line-height: 25px;
      color: #fff;

      @include media('<=large') {
        font-size: 16px;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -30px;
      }
    }

    picture {
      display: block;

      img {
        display: block;
      }
    }
  }
}
