.contact-us-section {
  width: 100%;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 65px;

    @include media('<=desktop-max') {
      font-size: 32px;
      line-height: 44px;
    }

    @include media('<tablet') {
      margin-bottom: 40px;
    }
  }

  .inner-wrapper {
    flex-direction: column;
  }

  .contact-item {
    display: flex;
    align-items: flex-start;
    margin: 0 -20px;
    padding: 75px 0;

    @include media('<=desktop-max') {
      padding: 50px 0;
    }

    @include media('<=tablet') {
      padding: 30px 0;
    }

    @include media('<tablet') {
      flex-direction: column;
    }

    &:first-of-type {
      padding: 150px 0 75px;

      @include media('<=desktop-max') {
        padding: 100px 0 50px;
      }

      @include media('<=tablet') {
        padding: 60px 0 30px;
      }
    }
  }

  .col {
    padding: 0 20px;

    &-title {
      width: 33.3%;

      @include media('<tablet') {
        width: 100%;
      }
    }

    &-content {
      width: 66.6%;
      margin: 0 -20px;

      @include media('<=desktop-max') {
        margin: 0;
      }

      @include media('<tablet') {
        width: 100%;
      }
    }
  }

  .tabs {
    &-list {
      margin: 0 0 60px 20px;

      @include media('<=desktop-max') {
        margin: 0 0 50px 10px;
      }

      @include media('<desktop') {
        padding: 20px 0;
      }

      @include media('<tablet') {
        margin: 0 0 50px;
      }
    }

    &-content {
      @include media('<=desktop-max') {
        flex-wrap: wrap;
      }
    }
  }

  .contact-block {
    width: 50%;
    margin: 0 20px;

    @include media('<=desktop-max') {
      width: 100%;
      margin: 0 0 30px;
    }

    &:only-child {
      width: calc(50% - 40px);

      @include media('<=desktop-max') {
        width: 100%;
      }
    }
  }
}
