.documentation-section {
  padding: 150px 0 146px;

  @include media('<=desktop-max') {
    padding: 100px 0;
  }

  @include media('<=tablet') {
    padding: 60px 0 20px;
  }

  .inner-wrapper {
    flex-direction: column;
  }

  h2 {
    font-size: 48px;
    line-height: 65px;
    margin: 7px 0 61px;

    @include media('<desktop') {
      font-size: 32px;
      line-height: 44px;
      margin: 0 0 40px;
    }
  }

  h4 {
    margin: 0 0 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;

    @include media('<425px') {
      margin: 0 0 28px;
    }
  }

  .tabs {
    &-list {
      position: relative;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      @include media('<desktop') {
        overflow-x: scroll;
        padding: 20px 0;
      }

      &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: -17px;
        height: 2px;
        background-color: $gray;

        @include media('<desktop') {
          right: inherit;
          width: 100%;
          bottom: 3px;
        }
      }

      li {
        position: relative;
        margin: -17px 0;
        padding: 17px 30px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        cursor: pointer;

        @include media('<=desktop-max') {
          padding: 0 20px;
        }

        @include media('<desktop') {
          flex-shrink: 0;
          flex-grow: 0;
          white-space: nowrap;
        }

        &.active {
          &:before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background-color: $red;
          }
        }
      }
    }

    &-wrapper {
      padding: 77px 0 0px;

      @include media('<425px') {
        padding: 27px 0 0;
      }
    }

    &-content {
      @include media('<tablet') {
        flex-direction: column;
      }
    }
  }

  .img-block,
  .descr-block {
    width: 50%;
  }

  .img-block {
    position: relative;
    padding-top: 139px;

    @include media('<=desktop') {
      padding-right: 70px;
    }

    @include media('<desktop') {
      width: 40%;
      padding-right: 0;
    }

    @include media('<tablet') {
      width: 100%;
      margin: 0 0 40px;
    }

    @include media('<425px') {
      padding-top: 77px;
      margin: 0 0 19px;
    }

    h3 {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      font-size: 32px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.25);
      // z-index: -1;

      @include media('<=desktop') {
        font-size: 24px;
        line-height: 33px;
      }

      span {
        display: block;
        font-size: 120px;
        font-weight: bold;
        line-height: 163px;

        @include media('<=desktop') {
          font-size: 48px;
          line-height: 65px;
        }
      }
    }

    img {
      position: relative;
      z-index: 1;

      @include media('<tablet') {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .descr-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 22px 0 0 41px;

    @include media('<desktop') {
      width: 60%;
    }

    @include media('<tablet') {
      width: 100%;
      margin: 22px 0 0;
    }
  }
}
