.features-section {
  position: relative;
  padding: 0 0 75px;

  @include media('<=tablet') {
    padding: 0 0 30px;
  }

  .inner-wrapper {
    justify-content: flex-end;
  }

  .col-wrapper {
    position: absolute;
    width: 50%;

    @include media('<=tablet') {
      position: relative;
      width: 100%;
      margin: 0 0 60px;
    }
  }

  .video_wrapper {
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 550px;
    }

    .videoPoster {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 550px;
      margin: 0;
      padding: 0;
      border: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $gray-100;

      &:hover {
        &:before {
          opacity: 0.8;
        }
      }

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }

      &:before {
        content: '';
        right: -28px;
        width: 64px;
        height: 64px;
        background-color: $red;
        border-radius: 50%;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
        transition: opacity 0.3s ease;

        @include media('<=tablet') {
          left: 50%;
          right: inherit;
          transform: translate(-50%, -50%);
        }
      }

      &:after {
        right: -9px;
        content: '\e908';
        font-family: 'icomoon';
        font-size: 20px;
        color: $white;
        text-align: center;
        width: 20px;
        height: 22px;

        @include media('<=tablet') {
          left: 50%;
          right: inherit;
          transform: translate(-50%, -50%);
        }
      }
    }

    &.videoWrapperActive {
      .videoPoster {
        opacity: 0;
        height: 0;
        transition-delay: 0s, 800ms;
      }
    }
  }

  .content-wrapper {
    width: 50%;
    padding: 150px 0 0 151px;

    @include media('<=desktop-max') {
      padding: 0 0 0 50px;
    }

    @include media('<=tablet') {
      width: 100%;
      padding: 0;
    }
  }

  h2 {
    margin: 0 0 10px;
    font-size: 48px;
    line-height: 65px;

    @include media('<=desktop-max') {
      font-size: 40px;
      line-height: 54px;
    }
  }

  .features-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 15px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.75);

      @include media('<=desktop-max') {
        padding: 20px 0;
      }

      &:last-of-type {
        border: none;
      }
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 30px;
      font-size: 18px;
      line-height: 25px;

      @include media('<=desktop-max') {
        margin: 0 0 15px;
      }

      @include media('<desktop') {
        flex-direction: column;
        align-items: flex-start;
      }

      @include media('<=tablet') {
        flex-direction: row;
        align-items: center;
      }

      @include media('<tablet') {
        flex-direction: column;
        align-items: flex-start;
      }

      &:last-of-type {
        margin: 0;
      }

      span,
      strong {
        display: flex;
        width: 50%;

        @include media('<tablet') {
          width: 100%;
        }
      }

      span {
        justify-content: flex-start;
        @include media('<desktop') {
          margin: 0 0 15px;
        }

        @include media('<=tablet') {
          margin: 0;
        }

        @include media('<tablet') {
          margin: 0 0 15px;
        }
      }

      strong {
        justify-content: flex-end;
        text-align: right;

        @include media('<tablet') {
          justify-content: flex-start;
          text-align: left;
        }
      }
    }
  }
}
