.follow-section {
  padding: 75px 0;
  background-color: $red;

  @include media('<=widescreen') {
    padding: 50px 0;
  }

  .inner-wrapper {
    justify-content: space-between;
    align-items: center;

    @include media('<desktop-max') {
      align-items: flex-start;
    }

    @include media('<tablet') {
      flex-wrap: wrap;
    }
  }

  .col {
    display: flex;
    align-items: center;

    @include media('<desktop-max') {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media('<550px') {
      margin-bottom: 60px;
    }

    &:first-child {
      @include media('<550px') {
        width: 100%;
        margin-right: 0;
      }
    }

    &:last-child {
      @include media('<=desktop') {
        margin-bottom: 0;
      }
    }
  }

  h3 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;

    @include media('<desktop-max') {
      margin-bottom: 30px;
    }

    @include media('<tablet') {
      font-size: 24px;
      line-height: 33px;
    }
  }

  form {
    display: flex;
    margin-left: 60px;

    @include media('<desktop-max') {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
    }

    @include media('<tablet') {
      width: 100%;
    }
  }

  .tve-cf-submit {
    margin-left: 20px;

    @include media('<=desktop-max') {
      margin: 15px 0 0;
    }
  }

  input[type='text'] {
    min-width: 250px;

    @include media('<tablet') {
      min-width: 190px;
    }

    @include media('<desktop-max') {
      width: 100%;
      margin-bottom: 20px;
    }

    @include media('<tablet') {
      width: 100%;
    }
  }

  button {
    display: block;
    flex: 0 !important;
    padding: 0;

    @include media('<=desktop-max') {
      text-align: left;
    }
  }

  ul {
    display: flex;
    list-style: none;
    font-size: 50px;
    margin: 0 -15px;
    padding: 0 0 0 40px;

    @include media('<desktop-max') {
      padding-left: 0;
    }

    li {
      padding: 0 15px;
    }

    a {
      color: $white;

      &:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}
