.main-section {
  position: relative;
  padding: 150px 0 120px;
  background-color: #202020;
  color: #ffffff;

  .bg-img-wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    // height: 100%;
    max-width: 730px;

    img {
      opacity: 0;
      // width: 100%;
      // max-height: 100%;
      // min-height: 1px;
      // position: relative;
      max-height: 100%;
      // object-fit: cover;
      // display: block;
    }
  }

  // .bg-img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  // }

  @include media('<=widescreen') {
    padding: 150px 0 75px;
  }

  @include media('<=desktop-max') {
    padding: 150px 0 110px;
  }

  @include media('<desktop-max') {
    padding: 30px 0 60px;
    background-position: top center;
    background-size: contain;
  }

  @include media('<tablet') {
    padding: 30px 0 50px;
  }

  .inner-wrapper {
    position: relative;
    align-items: center;
    z-index: 1;

    @include media('<=widescreen') {
      justify-content: space-between;
    }

    @include media('<desktop-max') {
      flex-direction: column;
    }
  }

  h1 {
    width: 50%;
    font-size: 80px;
    font-weight: 800;
    line-height: 109px;

    @include media('<=widescreen') {
      width: 40%;
      margin-bottom: 40px;
      padding-right: 0;
      font-size: 65px;
      line-height: 100px;
    }

    @include media('<=large') {
      line-height: 95px;
    }

    @include media('<desktop-max') {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }

    @include media('<=tablet') {
      font-size: 70px;
      line-height: 85px;
    }

    @include media('<tablet') {
      font-size: 45px;
      line-height: 65px;
      text-align: left;
    }

    @include media('<phone') {
      font-size: 42px;
      line-height: 60px;
    }
  }

  .slider-wrapper {
    position: relative;
    max-width: 950px;

    @include media('<=widescreen') {
      max-height: 475px;
      max-width: 720px;
    }

    @include media('<desktop-max') {
      width: 100%;
      max-width: inherit;
      max-height: inherit;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .item {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 24px 0 84px;
    z-index: 10;

    background: linear-gradient(236.54deg, rgba(48, 48, 48, 0) 0%, #303030 100%);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);

    @include media('<=tablet') {
      padding: 30px 0;
    }

    @include media('<tablet') {
      height: 100%;
    }

    @include media('<=425px') {
      padding: 4px 0;
    }

    @include media('<=phone') {
      padding: 45px 0;
    }

    @include media('<=320px') {
      padding: 35px 0;
    }

    a {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      padding: 0 100px;

      @include media('<=widescreen') {
        padding: 0 85px;
      }

      @include media('<=tablet') {
        padding: 40px 40px;
      }

      @include media('<=phone') {
        padding: 0 20px;
      }
    }

    h2,
    p {
      width: 45%;
      transition: color 0.3s ease;

      @include media('<=widescreen') {
        width: 65%;
      }

      @include media('<tablet') {
        width: 100%;
      }
    }

    h2 {
      margin-top: 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 65px;

      @include media('<=widescreen') {
        margin-top: 0;
        margin-bottom: 0;
      }

      @include media('<=tablet') {
        margin-top: 0;
      }

      @include media('<tablet') {
        width: 85%;
        font-size: 32px;
      }

      @include media('<=phone') {
        line-height: 44px;
      }

      span {
        position: relative;
        display: block;
        margin-bottom: 10px;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);

        @include media('<=widescreen') {
          line-height: 22px;
        }

        @include media('<tablet') {
          display: none;
        }

        &:before {
          position: absolute;
          content: '';
          top: 50%;
          transform: translateY(-50%);
          left: 0px;
          width: 4px;
          height: 4px;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
        }
      }
    }

    span {
      &.btn {
        position: absolute;
        top: 50%;
        right: 100px;
        transform: translateY(-50%);
        font-size: 32px;
        color: #ffffff;

        @include media('<=widescreen') {
          right: 85px;
        }

        @include media('<=tablet') {
          right: 40px;
        }

        @include media('<=phone') {
          right: 20px;
          font-size: 24px;
        }
      }
    }

    p {
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;

      @include media('<=widescreen') {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 27px;
      }

      @include media('<tablet') {
        display: none;
      }
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .slick {
    &-track {
      display: flex;
    }

    &-slider {
      position: relative;
      margin-bottom: 0;
    }

    &-slide {
      position: relative;
      display: flex;
      align-items: stretch;
      height: 100%;

      & > div {
        width: 100%;
      }

      img {
        max-width: auto;
        width: 100%;
        height: 100%;

        @include media('<=widescreen') {
          max-height: 405px;
        }

        @include media('<=desktop') {
          width: 100%;
          height: auto;
          min-height: 100%;
        }
      }
    }

    &-arrow {
      bottom: 0px;
      top: inherit;
      z-index: 10;
      bottom: -50px;

      @include media('<=desktop') {
        display: none !important;
      }

      &:before {
        font-family: 'icomoon';
      }
    }

    &-prev {
      left: inherit;
      right: 65px;

      &:before {
        content: '\e902';
      }
    }

    &-next {
      right: 25px;

      &:before {
        content: '\e901';
      }
    }

    &-dots {
      display: flex;
      background-color: #303030;
      bottom: 0;

      @include media('<=widescreen') {
        bottom: -60px;
      }

      @include media('<tablet') {
        overflow-x: scroll;
      }

      li {
        width: auto;
        height: auto;
        margin: 0;
        padding: 19px 30px;
        font-size: 16px;
        transition: background 0.3s ease;

        @include media('<=widescreen') {
          padding: 20px 25px;
          font-size: 14px;
        }

        @include media('<=desktop') {
          flex: 1;
          padding: 20px 20px;
        }

        @include media('<tablet') {
          flex-shrink: 0;
          flex-grow: 0;
          white-space: nowrap;
        }

        &.slick-active,
        &:hover {
          background-color: #202020;
        }
      }

      button {
        color: #ffffff;

        &:before {
          background-color: #ffffff;
        }
      }
    }
  }
}
