.news-section {
  position: relative;
  min-height: 1050px;
  padding: 100px 0 100px;
  background-color: $gray-100;

  @include media('<=widescreen') {
    min-height: 873px;
    padding: 75px 0 150px;
  }

  @include media('<desktop-max') {
    min-height: 790px;
    padding: 30px 0 30px;
  }

  @include media('<=desktop') {
    min-height: inherit;
    padding: 0 0 90px;
  }

  @include media('<=desktop') {
    padding: 30px 0 60px;
  }

  .container {
    position: relative;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 60px;

    @include media('<desktop-max') {
      padding-bottom: 40px;
    }
  }

  h2 {
    span {
      color: $white;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  a {
    margin: 0 30px 5px 0;

    @include media('<desktop-max') {
      margin: 0 30px 10px 0;
    }

    @include media('<=desktop') {
      margin: 0 30px 0 0;
      line-height: 26px;
    }

    @include media('<tablet') {
      margin: 0 30px 5px 0;
    }
  }

  .news-slider {
    position: absolute;
    top: 145px;
    left: 0;
    right: -999px;

    @include media('<desktop-max') {
      top: 125px;
      left: 50px;
    }

    @include media('<=desktop') {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      padding-bottom: 60px;
    }
  }

  .item {
    position: relative;
    max-width: 1190px;

    @include media('<=widescreen') {
      max-width: 890px;
    }

    @include media('<desktop-max') {
      max-width: inherit;
    }

    @include media('<=desktop') {
      display: flex !important;
      flex-direction: column-reverse;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 135px 100px;
    color: $white;
    background: linear-gradient(270deg, rgba(48, 48, 48, 0) 0%, #303030 100%);
    z-index: 10;

    @include media('<=desktop') {
      padding: 100px 40px;
    }

    @include media('<=tablet') {
      padding: 45px 40px;
    }

    @include media('<tablet') {
      position: relative;
      padding: 20px 20px;
    }

    .time {
      margin-bottom: 30px;
      color: rgba(255, 255, 255, 0.5);

      @include media('<tablet') {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    h3 {
      width: 53%;
      margin: 0 0 30px;
      font-size: 48px;
      font-weight: bold;
      line-height: 65px;
      color: $white;
      transition: color 0.3s ease;

      @include media('<=widescreen') {
        width: 80%;
        font-size: 32px;
        line-height: 44px;
      }

      @include media('<=desktop') {
        width: 95%;
      }

      @include media('<tablet') {
        font-size: 24px;
        line-height: 33px;
      }

      a {
        color: $white;

        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  .slick {
    &-track {
      margin: 0 -30px;

      @include media('<=widescreen') {
        margin: 0 -20px;
      }

      @include media('<=desktop') {
        margin: 0;
      }
    }

    &-slide {
      padding: 0 30px;

      @include media('<=widescreen') {
        padding: 0 20px;
      }

      @include media('<=desktop') {
        padding: 0;
      }

      img {
        @include media('<=desktop') {
          display: block;
          margin: 0 auto;
        }
      }
    }

    &-arrow {
      top: auto;
      bottom: -55px;

      @include media('<=large') {
        bottom: -65px;
      }

      @include media('<=desktop') {
        bottom: 0;
      }

      &:before {
        font-family: 'icomoon';
      }
    }

    &-prev {
      left: 0;

      &:before {
        content: '\e902';
      }
    }

    &-next {
      right: inherit;
      left: 40px;

      &:before {
        content: '\e901';
      }
    }
  }

  h2 {
    margin: 0;
  }

  .progress-wrapper {
    position: absolute;
    display: block;
    bottom: 177px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1510px;
    margin-left: 40px;

    @include media('<=widescreen') {
      left: 50%;
      transform: translateX(-50%);
      margin-left: 50px;
      width: auto;
      bottom: 133px;
      max-width: 1100px;
      width: 100%;
    }

    @include media('<=large') {
      bottom: 123px;
    }

    @include media('<=desktop-max') {
      bottom: 123px;
    }

    @include media('<desktop-max') {
      bottom: 65px;
      margin-left: 75px;
      width: auto;
      max-width: inherit;
      left: 50px;
      right: 50px;
      transform: translateX(0);
    }

    @include media('<=desktop') {
      bottom: 77px;
    }

    @include media('<tablet') {
      display: none;
    }
  }

  .progress {
    height: 2px;
    background-color: $gray;
    background-image: linear-gradient(to right, $red, $red);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s ease-in-out;
  }
}
