.products-section {
  position: relative;
  padding: 68px 0 0;
  z-index: 1;

  @include media('<=desktop') {
    padding: 10px 0 0;
  }

  .h2 {
    margin-bottom: 48px;
  }
}

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 -17px;
  padding: 0;

  @include media('<=desktop') {
    margin: 0 -10px;
  }

  @include media('<=tablet') {
    flex-direction: column;
    margin: 0;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 200px;
    margin: 0 17px;
    box-shadow: 0px 25px 60px rgba(32, 32, 32, 0.25);

    @include media('<=desktop') {
      margin: 0 10px;
    }

    @include media('<=tablet') {
      width: 100%;
      height: 50px;
      margin: 0 0 20px;
    }

    @include media('<=425px') {
      height: 120px;
    }

    &.active {
      a {
        background-color: rgba(203, 14, 16, 0.7);
      }
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    display: block;

    @include media('<=tablet') {
      display: none;
    }

    @include media('<=phone') {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
    }
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      font-size: 18px;
      line-height: 25px;
      color: $white;
      background-color: rgba(64, 64, 64, 0.7);

      @include media('<=desktop') {
        padding: 0 30px;
      }

      &:hover {
        background-color: rgba(203, 14, 16, 0.7);
      }
    }
  }

  h3 {
    margin: 0;
  }
}
