.product-main-section {
  padding: 6px 0 196px;
  background-position: 87% top;
  background-size: contain;
  background-repeat: no-repeat;

  @include media('<=widescreen') {
    background-position: 89% top;
  }

  @include media('<=large') {
    background-position: 100% top;
  }

  @include media('<=desktop-max') {
    padding: 0 0 150px;
    background-position: 106% top;
  }

  @include media('<=tablet') {
    padding: 0 0 60px;
  }

  @include media('<tablet') {
    background-position: center 94%;
  }

  .breadcrumbs {
    padding: 55px 0 70px;
  }

  .inner-wrapper {
    align-items: center;

    @include media('<tablet') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .col {
    width: 50%;

    @include media('<tablet') {
      width: 100%;
    }

    &-title {
      padding-right: 16%;

      @include media('<tablet') {
        margin: 0 0 60px;
        padding: 0;
      }
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: inherit;
      }
    }
  }

  .h1 {
    margin: 19px 0 40px;
    font-size: 72px;
    line-height: 98px;

    @include media('<=desktop-max') {
      margin: 0 0 30px;
      font-size: 40px;
      line-height: 54px;
    }
  }

  .descr {
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.75);

    @include media('<=desktop-max') {
      font-size: 18px;
      line-height: 36px;
    }
  }
}
