.why-we-section {
  position: relative;
  padding: 100px 0 40px;
  background-color: #202020;
  color: rgba(255, 255, 255, 0.75);
  z-index: 1;

  @include media('<=widescreen') {
    padding: 75px 0 15px;
  }

  @include media('<desktop-max') {
    padding: 75px 0 30px;
  }

  @include media('<=desktop') {
    padding: 90px 0 50px;
  }

  @include media('<tablet') {
    padding: 60px 0 30px;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    @include media('<desktop-max') {
      margin-bottom: 60px;
    }

    @include media('<=desktop') {
      margin-bottom: 40px;
    }

    @include media('<desktop') {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    @include media('<tablet') {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    h2 {
      margin-left: -22.5%;

      @include media('<=widescreen') {
        margin-left: -41%;
      }

      @include media('<=large') {
        margin-left: -40%;
        white-space: nowrap;
      }

      @include media('<=desktop') {
        margin-left: -60%;
        width: 50%;
      }

      @include media('<desktop') {
        width: auto;
        margin-left: -25%;
        padding: 60px 0;
        z-index: 1;
        font-size: 40px;
        line-height: 45px;
      }

      @include media('<=tablet') {
        margin-left: -25%;
      }

      @include media('<tablet') {
        width: 100%;
        margin: 0;
        padding: 0 0 40px;
      }
    }

    img {
      display: block;
      @include media('<=widescreen') {
        width: 75%;
      }

      @include media('<=desktop') {
        width: 60%;
      }

      @include media('<desktop') {
        width: 100%;
      }

      @include media('<tablet') {
        width: 100%;
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 36px;

    h2 {
      margin-bottom: 40px;
      font-size: 48px;
      font-weight: 700;
      color: #ffffff;

      @include media('<tablet') {
        font-size: 40px;
      }

      .subtitle {
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 400;
      }
    }

    h3 {
      margin: 0 0 40px;
      font-weight: 700;
      color: $white;

      @include media('<=widescreen') {
        font-size: 24px;
        line-height: 33px;
      }

      @include media('<desktop-max') {
        margin: 0 0 20px;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 60px;

      @include media('<desktop-max') {
        margin-bottom: 40px;
      }
    }
  }

  .col {
    padding: 0 80px;
    width: 53%;

    @include media('<=widescreen') {
      padding: 0 50px 0 0;
    }

    @include media('<=desktop') {
      width: 50%;
      padding: 0 20px 0 0;
    }

    @include media('<tablet') {
      width: 100%;
    }

    &:first-of-type {
      width: 43%;

      @include media('<=desktop') {
        width: 50%;
      }

      @include media('<tablet') {
        width: 100%;
      }
    }

    &-fluid {
      display: flex;
      width: 100%;
      padding-top: 100px;

      @include media('<=desktop-max') {
        padding-top: 90px;
      }

      @include media('<=desktop') {
        align-items: center;
      }

      @include media('<=tablet') {
        flex-direction: column-reverse;
        padding-top: 60px;
      }

      @include media('<tablet') {
        padding-top: 0;
      }

      .content {
        width: 40%;
        padding-right: 105px;

        @include media('<=widescreen') {
          width: 50%;
          padding-right: 50px;
        }

        @include media('<=tablet') {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding-right: 0;
        }

        @include media('<tablet') {
          display: block;
          padding: 0;
        }

        h2 {
          font-size: 48px;
          line-height: 65px;

          @include media('<=desktop-max') {
            margin-top: 0px;
          }

          @include media('<=tablet') {
            width: 50%;
            margin: 0;
          }

          @include media('<tablet') {
            width: 100%;
            font-size: 40px;
            margin-bottom: 30px;
          }

          @include media('<=phone') {
            font-size: 40px;
            line-height: 54px;
          }

          .subtitle {
            margin-bottom: 20px;
            font-size: 24px;
            line-height: 36px;
          }
        }

        p {
          @include media('<desktop-max') {
            margin-bottom: 0;
          }

          @include media('<=tablet') {
            width: 50%;
            padding-left: 30px;
          }

          @include media('<tablet') {
            width: 100%;
            margin-bottom: 0;
            padding-left: 0;
          }
        }
      }

      .img-block {
        width: 60%;
        background: radial-gradient(50% 50% at 50% 50%, #303030 0%, rgba(48, 48, 48, 0) 100%);

        @include media('<=widescreen') {
          width: 50%;
        }

        @include media('<=tablet') {
          width: 100%;
          margin: 20px 0 50px;
        }

        @include media('<tablet') {
          width: 100%;
          margin: 60px 0 60px;
        }
      }
    }
  }
}
