/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/* THEME */
.bx-wrapper .bx-viewport {
}
.bx-wrapper .bx-controls-auto {
}
.bx-wrapper .bx-controls {
}


/* LOADER */
.bx-wrapper .bx-loading {
}


/* PAGER */
.bx-wrapper .bx-pager {
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: block;
	*zoom: 1;
	*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
}


/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-controls-direction a {
  background: url(../img/sprite.png) no-repeat 0 -33px;
	position: absolute;
	left: 0;
	outline: 0;
	width: 100%;
	height: 22px;
	z-index: 7999;
	color: #6C6C6C;
	padding: 0 0 0 50px;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
  top: -35px;
  line-height: 32px;
}
.bx-wrapper .bx-controls-direction a.bx-next {
  bottom: -35px;
  line-height: 10px;
	background-position: 0 -75px;
}

.bx-wrapper .bx-controls-direction a.bx-prev:hover {
	color: #cb0e10;
}
.bx-wrapper .bx-controls-direction a.bx-next:hover {
	color: #cb0e10;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}


/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	/*background: url(images/controls.png) -86px -11px no-repeat;*/
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	/*background: url(images/controls.png) -86px -44px no-repeat;*/
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}