@font-face {
  font-family: 'helvetica_neue';
  src: url('../fonts/helveticaneue-thin-webfont.eot');
  src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
  url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @group HTML5 Boilerplate */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* @end */

/* @group Algemeen Style */

html {
  height: 100%;
}

body {
  background: #fff;
  color: #6c6c6c;
  font: 14px/21px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

p {
  margin: 0 0 12px 0;
}

p.description {
  font-size: 12px;
  color: #959595;
}

a {
  color: #cb0e10;
  text-decoration: none;
}

h1 {
  color: #000;
  font: 30px/32px Arial, Helvetica, Geneva, sans-serif;
  margin: 25px 0 15px 0;
  padding: 0 0 13px 0;
  background: url(../img/sprite.png) no-repeat -520px bottom;
  position: relative;
}

h1 span {
  display: block;
  /* font-size: 22px; */
  font-weight: normal;
}

h1 p,
h2 p {
  margin: 0;
}

h2 {
  color: #000;
  font: 25px/27px Arial, Helvetica, Geneva, sans-serif;
  margin: 25px 0 15px 0;
  padding: 0 0 13px 0;
  background: url(../img/sprite.png) no-repeat -520px bottom;
}

h1 + h2 {
  margin-top: -20px;
  background-color: #fff;
  position: relative;
}

h3 {
  font: 18px/20px Arial, Helvetica, Geneva, sans-serif;
  color: #c00;
  margin: 25px 0 15px;
}

h4 {
  color: #000;
  font: bold 14px/21px Arial, Helvetica, Geneva, sans-serif;
  margin: 0;
}

.col1 h1:first-child,
.col2 h1:first-child,
.col3 h1:first-child,
.col4 h1:first-child,
.col5 h1:first-child,
.col6 h1:first-child,
.col7 h1:first-child,
.col8 h1:first-child,
.col9 h1:first-child,
.col10 h1:first-child,
.col11 h1:first-child,
.col12 h1:first-child,
.col13 h1:first-child,
.col14 h1:first-child,
.col15 h1:first-child,
.col16 h1:first-child,
.col17 h1:first-child,
.col18 h1:first-child,
.col19 h1:first-child,
.col20 h1:first-child,
.col1 h2:first-child,
.col2 h2:first-child,
.col3 h2:first-child,
.col4 h2:first-child,
.col5 h2:first-child,
.col6 h2:first-child,
.col7 h2:first-child,
.col8 h2:first-child,
.col9 h2:first-child,
.col10 h2:first-child,
.col11 h2:first-child,
.col12 h2:first-child,
.col13 h2:first-child,
.col14 h2:first-child,
.col15 h2:first-child,
.col16 h2:first-child,
.col17 h2:first-child,
.col18 h2:first-child,
.col19 h2:first-child,
.col20 h2:first-child {
  margin-top: 0;
}

.btn {
  background: url(../img/sprite.png) no-repeat -534px -111px;

  background: url(../img/sprite.png) no-repeat -544px 4px;

  display: block;
  padding: 0 0 0 25px;

  padding: 0 0 0 15px;
  color: #000;
  font-weight: bold;
}

.btn:hover {
  color: #cb0e10;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  background: url(../img/sprite.png) no-repeat -545px 5px;
  padding: 0 0 10px 10px;
}

ul li strong {
  color: #000;
}

ul li a {
  color: #6c6c6c;
}

ul li a:hover {
  color: #cb0e10;
}

ul li.current_page_item a {
  color: #cb0e10;
}

.main-news{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.block-list ul {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}

.block-list ul li {
  background: none;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px 40px;
  width: 32%;
}

.block-list ul li a .photo {
  position: relative;
}

.block-list ul li a .photo .inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0px solid #fff;
  z-index: 555;
  transition: border 0.4s ease 0s;
  -moz-transition: border 0.4s ease 0s;
  -webkit-transition: border 0.4s ease 0s;
}

.block-list ul li a:hover .photo .inner {
  border-width: 10px;
}

.block-list ul li img {
  display: block;
  margin: 0 0 7px 0;
  width: 100%;
  height: auto;
}

.block-list ul li h4 {
  background: url(../img/sprite.png) no-repeat -534px -212px;
  padding: 0 0 0 25px;
}

.block-list ul li p {
  padding: 0 0 0 25px;
}

.block-list ul li a p {
  color: #6c6c6c;
}

.full-list ul {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}

.full-list ul li {
  background: none;
  display: block;
  padding: 0 10px 60px;
  width: 100%;
}

.full-list ul li .item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.full-list ul li .item .photo {
  position: relative;
  width: 32%;
}

.full-list ul li .item .photo .inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0px solid #fff;
  z-index: 555;
  transition: border 0.4s ease 0s;
  -moz-transition: border 0.4s ease 0s;
  -webkit-transition: border 0.4s ease 0s;
}

.full-list ul li a .photo .icon-video {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}

.full-list ul li a:hover .photo .inner {
  border-width: 10px;
}

.full-list ul li .item .text {
  width: 64%;
  padding: 0 0 0 25px;
}

.full-list ul li img {
  display: block;
  width: 100%;
}

.full-list ul li h4 {
  background: url(../img/sprite.png) no-repeat -534px -212px;
  margin: 0 0 15px -25px;
  padding-left: 25px;
}

.full-list ul li a p {
  color: #6c6c6c;
}

img.scale {
  display: block;
  width: 100%;
  height: auto;
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  background: none;
  padding: 0;
  margin: 0 0 10px 0;
}

form ul li label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

form ul li label span {
  color: #f00;
}

form ul li input,
form ul li textarea {
  background: #fbfbfc;
  padding: 10px;
  border: 1px solid #ebebf1;
  width: 100%;
}

form ul li input[type=text] {
  max-width: 350px;
}

form ul li textarea {
  height: 260px;
}

form ul li input.error,
form ul li textarea.error {
  border-color: #f00;
  color: #f00;
}

form ul li .submit {
  border: none;
  padding: 9px 27px 7px 27px;
  background: #c90c0f;
  color: #fff;
  width: auto;
}

form ul li .submit:hover {
  background: #000;
  color: #fff;
}

/* @end */

/* @group Algemeen structure */

.partnerzone {
  background: #3e3e3e;
  text-align: right;
}

.partnerzone .inner {
  margin: 0 auto;
  max-width: 880px;
  padding: 5px 15px;
}

.partnerzone .inner a {
  color: #b7b7b7;
}

.partnerzone .inner a:hover {
  color: #fff;
}

.partnerzone .inner a span {
  font-size: 12px;
}

.area {
  padding: 40px 0;
  position: relative;
}

.divider {
  display: block;
  width: 100%;
}

.vertical-line {
  border-left: 1px solid #d8d8d8;
  padding: 0 0 0 30px;
}

header#header {
  padding: 25px 0 15px;
}

header#header .grid {
  height: 36px;
}

header h1.logo {
  margin: 0;
  height: 28px;
  width: 250px;
  position: absolute;
  left: 15px;
  top: 0;
  padding: 0;
  background: none;
}

header h1.logo a {
  display: block;
  height: 28px;
  text-indent: -9999px;
  width: 250px;
}

header nav {
  color: #868686;
  float: right;
  font-size: 13px;
  line-height: 12px;
}

header nav ul {
  margin: 0;
  padding: 7px 0 0 0;
}

header nav ul li {
  background: none;
  padding: 0;
  display: inline;
  float: left;
  position: relative;
  border-right: 1px solid #333;
}

header nav ul li:last-child {
  border: none;
  padding-right: 0;
}

header nav ul li a {
  color: #6c6c6c;
  display: block;
  padding: 0 9px;
  text-transform: uppercase;
  text-decoration: none;
}

header nav ul li:hover a {
  color: #cb0e10;
}

#footer {
  background: #000;
  color: #4d4d4d;
  font-size: 12px;
  line-height: 12px;
  padding: 0 0 15px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#footer a {
  color: #4d4d4d;
}

/* @end */

/* @group Page : Home */

#carousel {
  padding: 0;
  background: #000;
}

#carousel ul {
  margin: 0;
  padding: 0;
}

#carousel ul li {
  background: none;
  padding: 0;
  position: relative;
  width: 100%;
}

#carousel img {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  height: auto;
}

#carousel ul li .overlay {
  position: absolute;
  left: 0;
  z-index: 9999;
  top: 40%;
  width: 100%;
}

#carousel ul li .overlay h1 {
  color: #fff;
  font-size: 40px;
  line-height: 45px;
  background: none;
  margin: 0 auto;
  max-width: 890px;
  padding: 0 15px;
  font-weight: bold;
}

#carousel ul li .overlay h1 span {
  font-size: 22px;
}

#carousel .divider.top,
#carousel .divider.bottom {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  z-index: 5555;
  max-width: none;
}

#carousel .divider.top {
  top: 0;
  bottom: auto;
}

#submenu {
  background: #000;
  color: #fff;
  padding: 30px 0 13px;
}

#submenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#submenu ul li {
  background: none;
  border-top: 1px solid #808080;
  display: inline;
  float: left;
  margin: 0 9% 0 0;
  padding: 5px 0 0 0;
  position: relative;
}

#submenu ul li:last-child {
  margin: 0;
}

#submenu ul li a h2 {
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  font: 45px/45px "helvetica_neue";
  overflow: hidden;
  height: 50px;
  font-size: 54px;
  line-height: 55px;
  margin: 0;
  padding: 0;
  background: none;
}

#submenu ul li a h2 span {
  position: relative;
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

#submenu ul li a h2 span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  color: #cb0e10;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#submenu ul li a:hover h2 span,
#submenu ul li a:hover h2 span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

#submenu ul li a p {
  color: #808080;
  font-size: 12px;
}

#intro {
  padding: 80px 0 30px;
}

#intro h1 {
  font-weight: bold;
}

#intro h1 span {
  font-size: 22px;
}

#highlights {
  padding-top: 10px;
}

#news {
  background: #f1f1f1;
  padding: 80px 0 70px;
}

#news .news-list {
  padding: 60px 0 40px;
}

#news .news-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#news .news-list ul li {
  background: none;
  padding: 10px 0px;
}

#news .news-list ul li a {
  color: #6c6c6c;
}

#news .news-list ul li a h4 {
  font-size: 16px;
  line-height: 18px;
  color: #6c6c6c;
}

#news .news-list ul li a.selected,
#news .news-list ul li a.selected h4,
#news .news-list ul li a:hover,
#news .news-list ul li a:hover h4 {
  color: #000;
}

#news .news-detail img {
  margin: 0 0 30px 0;
}

#news .news-detail .content {
  position: relative;
  padding: 0 0 0 30px;
  margin: 0 0 0 60px;
  border-left: 1px solid #d8d8d8;
}

#news .news-detail .content .date {
  position: absolute;
  left: -60px;
  top: 0;
  text-transform: uppercase;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 0 15px 0;
}

#news .news-detail .content .date span {
  display: block;
  font-size: 31px;
}

/* @end */

/* @group Page : Product detail */

#detail h2 {
  background: none;
  padding: 0;
}

#detail .question-form {
  padding: 60px 0 0 0;
}

#detail .question-form textarea {
  height: 70px;
}

.features ul li {
  background: none;
  padding: 0;
  border-bottom: 1px solid #eaeaea;
  padding: 5px 0;
}

.features ul li em {
  color: #b8b8b8;
  background: url(../img/sprite.png) no-repeat -545px 5px;
  padding: 0 0 0 10px;
  display: block;
}

#technical {
  background: #f1f1f1;
  padding: 80px 0 30px;
}

#technical h2 {
  background: none;
  color: #c00;
}

#technical .col9 {
  padding: 0 0 50px;
}

.downloads ul li {
  background-position: 0 -104px;
  padding-left: 25px;
}

.downloads ul li a {
  text-decoration: underline;
}

#menu-products .current-menu-item a{
  color: #cb0e10;
}
/* @end */

/* @group Page : News */

#news-overview h2 {
  background: none;
  padding: 0;
}

#news-overview .overview li {
  background: none;
  padding: 0 0 20px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #eaeaea;
}

#news-overview .overview li h1 a {
  color: #000;
}

#news-overview .overview li h1 a:hover {
  color: #cb0e10;
}

#news-overview .overview li .description {
  color: #000;
  font-weight: bold;
}

#news-overview .overview li .description .more {
  color: #cb0e10;
}

#news-overview .pager {
  text-align: right;
}

#news-overview .pager li {
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#news-overview .pager li a {
  background: #eaeaea;
  display: block;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
}

#news-overview .pager li a:hover,
#news-overview .pager li a.active {
  color: #fff;
  background: #cb0e10;
}

/* @end */

/* @group Page : Contact */

.btn-social {
  display: inline-block;
  width: 30px;
}

#contact h2,
#contact-hq h2 {
  padding: 0;
  background-image: none;
}

#contact-hq .hq ul li {
  background: none;
  padding: 0 0 25px 0;
}

#contact-hq .hq ul li a {
  color: #cb0e10;
  font-weight: bold;
}

/* @end */

#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 50vh;
}

#video .btn-close {
  position: absolute;
  right: 2vw;
  top: 2vw;
  z-index: 999;
  color: #fff;
  background: #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  transform: translateY(-50%);
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#video .embed-container {

}

/* @group Page : Event */

body.event .partnerzone {
  display: none;
}

/* @end */

/* @group Helper classes */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* @end */

/* @group Media Queries */

@media only screen and (max-width: 600px) {

  #carousel ul li .overlay {
    display: none;
  }

  .block-list ul li {
    width: 49%;
  }

  .full-list ul li .item {
    display: block;
  }
  .full-list ul li .item .photo {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .full-list ul li .item .text {
    width: 100%;
  }

  .vertical-line {
    border: none;
    padding: 0;
  }

}

@media only screen and (max-width: 790px) {

  .partnerzone {
    display: none;
  }

}

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* @end */

/* Change background color of buttons on hover */
.tab a:hover {
  color: #cb0e10;
}
/* Create an active/current tablink class */
.tab li.active a{
  color: #cb0e10;
}
.social-links{
  margin-top: 10px;
}