/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar { 
	width: 100%;
	position: absolute;
	padding: 0;
	top: 75px;
	z-index: 999999;
}
.mean-container a.meanmenu-reveal {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	color: #000;
	text-decoration: none;
	display: block;
	font: 18px/18px "bebas", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 24px;
	top: -71px;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background: #000;
	height: 5px;
	margin-top: 1px;
	border: 1px solid #fff;
}

.mean-container .mean-nav { 
	background: #fff;
}
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: scroll;
	height: 100%;
}
.mean-container .mean-nav ul li {
  padding: 0;
	position: relative;
	background: #fff;
}
.mean-container .mean-nav ul li a {
	display: block;
	width: 100%;
	padding: 15px;
	margin: 0;
	text-align: left;
	color: #000;
	border-bottom: 1px solid #c8c8c7;
	text-decoration: none;
	text-transform: uppercase;
}
.mean-container .mean-nav ul li a:hover {
	background: #cc0000;
	color: #fff;
}