*{
	margin:0;
	padding:0;
}
body{
	position: relative;
	background: #202020;
	font-family: 'Open Sans', Arial, sans-serif;
}
.wrapper{
	padding:0 8%;
}
@media only screen and (min-width: 1366px)  {
	.wrapper{
		padding:0 4%;
	}
}
@media only screen and (min-width: 1920px)  {
	.wrapper{
		padding:0 8%;
	}
}
/*----------HEADER------------*/
.header{
	padding: 0 8%;
}
.logo{
	display: flex;
}
.logo img{
	width:75%;
}
.header_left_menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
	transition: linear 0.2s;
}
.header_left_menu.sticky{
	position: fixed;
    width: 100%;
    margin-left: -8%;
    padding: 20px 8%;
    background: #303030;
    z-index: 8;
    transition: linear 0.2s;
    box-sizing: border-box;
    border-bottom: 1px solid #202020;
}
.header_left_menu ul{
    list-style: none;
    position: absolute;
    top:0;
    width: 70%;
    height: 100vh;
    background: #202020;
    padding: 20px;
    transition: linear 0.2s;
    transform: translateX(-110%);
    z-index: 1;
}
.header_left_menu ul.active{
	transition: linear 0.2s;
	transform: translateX(-9%);
}
.header_left_menu li{
	margin-bottom: 25px;
}
.bars{
	background: none;
    border: none;
    color: #fff;
    font-size: 30px;
}

.nav-item a{
	font-weight: normal;
	font-size: 18px;
	line-height: 1.3;
	color: #fff;
	text-decoration: none;
}
.nav-item:last-child a{
	padding: 8px 16px;
    background: #CB0E10;
    box-shadow: 0px 0px 20px 5px rgba(203,14,16,0.5);
}
.header_left_title h1{
	font-weight: 800;
	font-size: 48px;
	line-height: 1.3;
	color: #CB0E10;
	text-align: center;
}
.header_left_title span{
	color:#fff;
}
.header_left_title h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}
.header_right{
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8%;
    margin-right: -8%;
}
.header_right img{
	width:100%;
	height: auto;
	padding: 60px 0 10px;
}
.header_right_rectangle{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #CB0E10;
    z-index: -1;
}
.img-rect{
	display: flex;
    justify-content: center;
}
.img-rect:after{
	content:"";
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #303030;
    z-index: -1;
}

.overlay{
	position: fixed;
	top:0;
	display: flex;
    align-items: center;
    justify-content: center;
	width:100%;
	height:100%;
	transform: translateY(-130%);
	transition: linear 0.2s;
	background: rgba(0,0,0,0.8);
	z-index: 9;
}
.overlay.active{
	transform: translateY(0);
	transition: linear 0.2s;
}
.modal{
	width:70%;
	position: relative;
}
.video-wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.close-modal{
	position: absolute;
    top: -36px;
    right: -30px;
    color: #fff;
    font-size: 30px;
    cursor:pointer;
}
@media only screen and (min-width: 1366px)  {
	.header{
		display: flex;
		justify-content: space-between;
		padding: 0 4%;
	}
	.logo img{width:100%;}
	.header_left_menu{
		justify-content: unset;
		padding: 80px 0 218px 0;
	}
	.header_left_menu.sticky{
	    margin-left: -4%;
	    margin-right: -4%;
	    padding: 20px 4%;
	}
	.header_left_menu ul{
		display: flex;
		align-items: center;
		justify-content: flex-end;
	    list-style: none;
	    margin-left: 40px;
	    position: unset;
	    transform: none;
	    padding: 0;
	    height:auto;
	    width: 100%;
	    background: none;
	}
	.header_left_menu li:not(:last-child){
		margin-right: 25px;
	}
	.header_left_menu li{
		margin-bottom: 0;
	}
	.bars{
		display:none;
	}
	.header_left_title h1{
		font-size: 120px;
		text-align: left;
	}
	.header_left_title span{
		color:#fff;
	}
	.header_left_title h2{
		max-width: 530px;
	    margin-top: 64px;
	    margin-bottom: 0;
	    font-size: 24px;
	    text-align: left;
	}
	.header_right{
	    margin-left: unset;
    	margin-right: unset;
	}
	.header_right img{
		max-width: 780px;
		padding: 271px 0;
	}
	.header_right_rectangle{
	    max-width: 400px;
	}
	@keyframes glowing {
	  	0% { box-shadow: 0 0 -10px 7px rgba(203,14,16,0.5); }
	  	40% { box-shadow: 0 0 20px 7px rgba(203,14,16,0.5); }
	  	60% { box-shadow: 0 0 20px 7px rgba(203,14,16,0.5); }
	  	100% { box-shadow: 0 0 -10px 7px rgba(203,14,16,0.5); }
	}
	.nav-item:last-child a{
		box-shadow: none;
		animation: glowing 2000ms infinite;
	}
	.img-rect{
		display: flex;
	    justify-content: center;
	}
	.img-rect:after{
		content:"";
		position: absolute;
	    top: 0;
	    width: 100%;
	    max-width: 520px;
	    height: 100%;
	    background: #303030;
	    z-index: -1;
	}
	.modal{
		width:50%;
	}
}
@media only screen and (min-width: 1920px)  {
	.header{
		padding: 0 8%;
	}
	.header_left_menu.sticky {
	    margin-left: -8%;
	    margin-right: -8%;
	    padding: 20px 8%;
	}
	.header_left_menu ul{	
	    margin-left: 140px;
	}
	.header_left_menu li:not(:last-child){
		margin-right: 40px;
	}
	.header_left_menu li{
		margin-bottom: 0;
	}
	.header_left_title span{
		color:#fff;
	}
	.header_right_rectangle{
	    max-width: 520px;
	}
	.img-rect{
		display: flex;
	    justify-content: center;
	}
	.img-rect:after{
		content:"";
		position: absolute;
	    top: 0;
	    width: 100%;
	    max-width: 520px;
	    height: 100%;
	    background: #303030;
	    z-index: -1;
	}
}
/*----------HEADER-END--------*/

/*----------FEATURES----------*/
.features{
	padding-top: 50px;
}
.features h2{
	margin-bottom: 80px;
	color: #fff;
    font-size: 54px;
    font-weight: 800;
    text-align: center;
}
.features span{
	color:#CB0E10;
}
.features-column:not(:last-child){
	margin-bottom:40px;
}
.features-column h3{
	margin-bottom: 40px;
	color: #fff;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.35;
    text-align: center;
}
.features-column p{
	color: #fff;
    font-size: 16px;
    line-height: 2;
    text-align: center;
}
@media only screen and (min-width: 1366px)  {
	.features{
		padding-top: 200px;
	}
	.features h2{
	    font-size: 72px;
	    text-align: left;
	}
	.features-wrapper{
		display: flex;
	    justify-content: space-between;
	}
	.features-column{
		width:30%;
		max-width: 450px;
	}
	.features-column:not(:last-child){
		margin-bottom:0;
	}
	.features-column h3{
	    font-size: 40px;
	    text-align: left;
	}
	.features-column p{
	    font-size: 18px;
	    text-align: left;
	}
}
@media only screen and (min-width: 1920px)  {
	.features-column{
		width:33.33%;
	}
}
/*----------FEATURES-END------*/

/*------------ABOUT-----------*/
.about{
	margin-top: 50px;
}
.about-column:last-child{
	display:none;
	position: relative;
    padding: 35px 0 0;
    margin-left: -8%;
    margin-right: -8%;
}
.about-mobile-img{
	position: relative;
    padding: 35px 0 0;
    margin-left: -8%;
    margin-right: -8%;
    margin-bottom: 40px;
}
.about-column h3{
	margin-bottom: 64px;
    color: rgb(255, 255, 255) !important;
    font-size: 40px;
    font-weight:800;
    line-height: 1.35;
    text-align: center;
}  
.about-column p{
	color: #fff;
    font-size: 16px;
    line-height:2;
    text-align: center;
    margin-bottom: 20px;
}
.about-column img{
	width:100%;
	height:auto;
}
.gray-rectangle{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #303030;
    z-index: -1;
}
@media only screen and (min-width: 1366px)  {
	.about{
		margin-top: 200px;
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	}
	.about-column:first-child{
		width:43%; 
	}
	.about-column:last-child{
		display: flex;
    	justify-content: center;
	    padding: 271px 0 200px;
	    width:57%;
	    margin-left: 0;
    	margin-right: 0;
	}
	.about-mobile-img{display:none;}
	.about-column h3{
	    font-size: 40px;
	    text-align: left;
	    max-width: 520px;
	}  
	.about-column p{
		max-width: 520px;
	    font-size: 18px;
	    text-align: left;
	    margin-bottom: 0;
	}
	.gray-rectangle{
	    max-width: 400px;
	}
}
@media only screen and (min-width: 1920px)  {
	.about-column{
		width:50%; 
	}
	.gray-rectangle{
	    max-width: 520px;
	}
}
/*------------ABOUT-END-------*/

/*------------NEWS------------*/
.news{
	margin-top: 50px;
}
.news-column:not(:last-child){
	margin-bottom:30px;
}
.news-column img{
	width:100%;
}
.news-column h3{
	color: #fff;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.35;
    margin:25px 0;
    text-align: center;
}
.news-column p{
	color: #fff;
    font-size: 16px;
    line-height: 2;
    text-align: center;
}
@media only screen and (min-width: 1366px)  {
	.news{
		margin-top: 200px;
		display: flex;
	    justify-content: space-between;
	}
	.news-column{
		width:50%;
	}
	.news-column:not(:last-child){
		margin-bottom:0;
	}
	.news-column:last-child img{
		margin-top: 50%;
	}
	.news-column img{
		max-width: 520px;
	}
	.news-column h3{
		max-width: 480px;
	    font-size: 40px;
	    margin:65px 0;
	    text-align: left;
	}
	.news-column p{
	    font-size: 18px;
	    text-align: left;
	    max-width: 520px;
	}
}
/*------------NEWS-END-------*/

/*------------ABOUT-----------*/
.about-2{
	margin-top: 50px;
    background: #CB0E10;
    width: 100%;
    position: relative;
}
.about-2 .img{
	position: relative;
    padding-bottom: 25px;
    right: 0;
    overflow: hidden;
}
.img img{
	width: 84%;
	margin: 0 auto;
	display: block;
}
.about-2-content{
	padding: 50px 8%;
	width: 100%;
	box-sizing: border-box;
}
.about-2-content h3{
	color: #fff;
    font-size: 40px;
    line-height: 1.35;
    text-align: center;
}
.about-2-content>p{
	margin:24px 0 80px;
	color:#fff;
    font-size: 18px;
    line-height: 2; 
    text-align: center;
}
.about-2-content svg{
	font-size: 64px;
    color: #fff;
}
.play-group{
	display: flex;
    align-items: center;
}
.play-group p{
	color: #fff;
    margin-left: 32px;
    font-weight: 800;
	font-size: 18px;
	line-height: 1.38;
	width: 60%; 
}
.modal-call{
	background: none;
    border: none;
    cursor: pointer;
    outline:none;
    background: #fff;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 1366px)  {
	.about-2{
		margin-top: 200px;
	    background: #CB0E10;
	    width: 70%;
	    max-width: 1340px;
	    position: relative;
	    display: flex;
	    align-items: center;
	}
	.about-2 .img{
		width:75%;
		padding-bottom: 0;
		position: absolute;
		right: -40%;
	}
	.img img{
		width:100%;
	}
	.about-2-content{
		padding: 200px 0 200px 11.5%;
		width:auto;
	}
	.about-2-content h3{
	    font-size: 56px;
	    max-width: 340px;
	    text-align: left;
	}
	.about-2-content>p{
		margin:64px 0 80px;
	    max-width: 520px;
	    text-align: left;
	}
	.play-group p{
	    max-width: 250px;
	}
}
@media only screen and (min-width: 1920px)  {
	.about-2 .img{
		width:auto;
	}
}
/*------------ABOUT-END-------*/

/*------Specifications-------*/
.specifications{
	padding-top: 50px;
}
.specifications h2{
	margin-bottom: 96px;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.specifications span{
	color:#CB0E10;
}
.specifications-item{
	display: flex;
    align-items: flex-start;
    margin-bottom: 64px;
}
.specifications-item img{
	margin-right: 48px;
}
.specifications-item ul{
	list-style: none;
}
.specifications-item-details h3{
	margin-bottom: 24px;
	color:#fff;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.3;
}
.specifications-item-details li{
	font-size: 16px;
	line-height: 1.3;
	color: #fff;
}
@media only screen and (min-width: 1366px)  {
	.specifications{
		padding-top: 200px;
	}
	.specifications h2{
	    font-size: 72px;
	    text-align: left;
	}
	.specifications-wrapper{
		max-width:1400px;
		display:flex;
		justify-content: space-between;
		flex-wrap:wrap;
	}
	.specifications-item{
		width:50%;
	}
	.specifications-item-details h3{
		font-size: 24px;
	}
	.specifications-item-details li{
		font-size: 18px;
	}
}
	
/*-----Specifications-end----*/

/*-----Contact-----*/
.contact{
	margin-top: 136px;
	padding:50px 8% 50px;
	background: #303030;
	width:100%;
    box-sizing: border-box;
}
.contact-column h2{
	font-weight: 800;
	font-size: 44px;
	line-height: 1.3;
	color: #FFFFFF;
	text-align: center;
}
#contact .contact-column input, #contact .contact-column textarea{
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 18px;
	line-height: 1.3;
}
#contact .contact-column textarea{
	min-height: 100px;
}
#contact .contact-column .tve_btn_txt{
	width: fit-content;
	color:#fff;
	display: inherit;
}
@media only screen and (min-width: 1366px)  {
	.contact{
		padding:200px 8% 200px;
		width: 92%;
	    display: flex;
	}
	.contact-column:first-child{
		margin-right: 25%;
	}
	.contact-column:last-child{
		max-width: 320px;
	    width: 100%;
	}
	.contact-column h2{
		font-size: 54px;
		max-width: 428px;
		text-align: left;
	}
}

@media only screen and (min-width: 1920px)  {
	.contact-column:first-child{
		margin-right: 40%;
	}
}
/*-----Contact-end-*/
/*------footer------*/
.footer-container{
	padding: 25px 0;
}
.footer{
	text-align: center;
}
.social-links{
	display:flex;
	justify-content: center;
	margin: 40px 0;
}
.social-links a{
	display: flex;
	align-items: center;
	justify-content: center;
	width:55px;
	height:55px;
	text-decoration: none;
	background: #fff;
    border-radius: 50%;
}
.social-links a:nth-child(2){
	margin: 0 30px;
}
.social-links svg{
	font-size: 25px;
}
.copyright{
	font-size: 16px;
	line-height: 1.3;
	color: rgba(255, 255, 255, 0.5);
}
.up{
	position: fixed;
    right: 0px;
    bottom: 0px;
    width: 44px;
    height: 44px;
    background: #CB0E10;
    opacity: 0;
    border: none;
    outline: none;
    cursor:pointer;
}
@media only screen and (min-width: 1366px)  {
	.footer-container{
		padding: 75px 0;
	}
	.footer{
		display: flex;
		align-items: center;
	    justify-content: space-between;
	    text-align: unset;
	}
	.social-links{
		justify-content: space-between;
		margin:0;
	}
	.social-links a:nth-child(2){
		margin: 0 30px;
	}
	.up{
		width: 64px;
    	height: 64px;
	    right: 30px;
	    bottom: 30px;
	}
}
@media only screen and (min-width: 1920px)  {
	.social-links a:nth-child(2){
		margin: 0 30px;
	}
}