*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
}

// Import abstract
@import './abstracts/variables';
@import './abstracts/include-media';

// Import base
@import './base/fonts';
@import './base/typography';

// Import layouts
@import './layouts/common';
@import './layouts/header';
@import './layouts/footer';

// Import components
@import './components/main-section';
@import './components/why-we-section';
@import './components/miss-section';
@import './components/follow-section';
@import './components/news-section';
@import './components/products-section';
@import './components/product-list-stection';
@import './components/about-section';
@import './components/news-list-section';
@import './components/article-section';
@import './components/documentation-section';
@import './components/guidelines-section';
@import './components/contact-us-section';
@import './components/product-main-section';
@import './components/featured-section';
@import './components/brochures-section';
@import './components/action-section';
@import './components/calc-section';

// Import pages
@import './pages/categories';
@import './pages/about-us';
@import './pages/news';
@import './pages/article';
@import './pages/download-area';
@import './pages/contact-us';
@import './pages/product';
@import './pages/404';
