.miss-section {
  padding: 100px 0 100px;
  background-color: $gray-100;

  @include media("<=widescreen") {
    padding: 75px 0 75px;
  }

  @include media("<desktop-max") {
    padding: 30px 0 30px;
  }

  @include media("<=desktop") {
    padding: 50px 0 70px;
  }

  @include media("<tablet") {
    padding: 30px 0 30px;
  }

  .inner-wrapper {
    @include media("<=desktop") {
      flex-direction: column;
    }
  }

  h2 {
    font-weight: 400;

    @include media("<=desktop") {
      margin-top: 0;
      margin-bottom: 40px;
    }

    @include media("<tablet") {
      margin: 0 0 40px;
    }

    @include media("<=phone") {
      font-size: 40px;
      line-height: 54px;
    }

    span {
      display: block;
      font-weight: 700;
      color: $white;
    }
  }

  a {
    color: $white;
  }

  .title-wrapper,
  .slider-wrapper {
    width: 50%;

    @include media("<=desktop") {
      width: 100%;
    }
  }

  .title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .item {
    position: relative;

    @include media("<tablet") {
      display: flex !important;
      flex-direction: column-reverse;
    }
  }

  .content-wrapper {
    margin-right: 70px;
    padding: 75px 75px 105px;
    background-color: $gray;

    @include media("<=widescreen") {
      padding: 40px 40px 95px;
    }

    @include media("<tablet") {
      margin-right: 0;
      padding: 30px 30px 85px;
    }

    p {
      margin: 0;
    }

    a {
      display: block;
      width: 65%;
      font-size: 24px;
      font-weight: bold;
      line-height: 36px;

      @include media("<=widescreen") {
        width: 70%;
      }

      @include media("<tablet") {
        width: 100%;
      }
    }

    p {
      font-size: inherit;
    }
  }

  .date-block {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 32px 33px;
    background-color: $red;

    @include media("<=widescreen") {
      top: 100px;
      padding: 24px 22px;
    }

    @include media("<tablet") {
      position: relative;
      top: inherit;
      right: inherit;
      transform: translateY(0);
    }

    p {
      margin-top: 0;
    }
  }

  .time {
    margin-bottom: 30px;
  }

  .slick {
    &-arrow {
      top: inherit;
      bottom: 50px;
      z-index: 10;

      @include media("<=widescreen") {
        bottom: 25px;
      }

      &:before {
        font-family: "icomoon";
      }
    }

    &-prev {
      left: 75px;

      @include media("<=widescreen") {
        left: 40px;
      }

      @include media("<tablet") {
        left: 30px;
      }

      &:before {
        content: "\e902";
      }
    }

    &-next {
      right: inherit;
      left: 115px;

      @include media("<=widescreen") {
        left: 80px;
      }

      @include media("<tablet") {
        left: 73px;
      }

      &:before {
        content: "\e901";
      }
    }
  }
}
