// Default fonts stack
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$white: #fff;
$gray: #303030;
$gray-100: #202020;
$red: #cb0e10;

$breakpoints: (
  'phone': 375px,
  'tablet': 768px,
  'desktop': 1024px,
  'desktop-max': 1280px,
  'large': 1440px,
  'widescreen': 1600px
);
