body {
  font-family: 'Open Sans', sans-serif;
  color: $white;
  background: $gray;
}

#wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  @include media('<=widescreen') {
    max-width: 1200px;
  }

  @include media('<desktop-max') {
    padding: 0 50px;
  }

  @include media('<tablet') {
    padding: 0 20px;
  }
}

.inner-wrapper {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.time,
.address {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $white;

  &:before {
    position: absolute;
    content: '\e903';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-family: 'icomoon';
    color: rgba(255, 255, 255, 0.5);
  }
}

.address {
  &:before {
    content: '\e905 ';
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

.h1 {
  font-weight: 700;
}

h2,
.h2 {
  font-size: 72px;
  font-weight: 800;
  color: $white;

  @include media('<=widescreen') {
    font-size: 64px;
    line-height: 87px;
  }

  @include media('<=desktop') {
    font-size: 48px;
    line-height: 54px;
  }

  @include media('<tablet') {
    font-size: 40px;
  }

  span:not(.subtitle) {
    color: $red;
  }
}
body p {
  font-size: 16px;
}

a,
button,
input[type='submit'] {
  transition: opacity 0.3s ease, background 0.3s ease, color 0.3s ease;
}

input[type='text'],
textarea {
  padding: 0 0 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: $white;
  border: none;
  border-bottom: 1px solid $white;
  background-color: transparent;
  border-radius: 0;
  outline: none;

  @include media('<phone') {
    font-size: 14px;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
}

a {
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: $white;
  }
}

a,
button,
span {
  text-decoration: none;

  &.more,
  &.submit,
  &.subscribe {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: $white;
    border: none;
    background-color: transparent;

    &:after {
      position: absolute;
      content: '\e901';
      top: 50%;
      transform: translateY(-50%);
      right: -30px;
      font-family: 'icomoon';
      color: inherit;
      transition: right 0.3s ease;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.5);

      &:after {
        right: -35px;
      }
    }
  }
}

p {
  font-size: 16px;
}

.download-list {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;

  li:not(:last-child) {
    margin-bottom: 24px;
  }

  a {
    position: relative;
    display: block;
    padding-left: 48px;
    font-size: 18px;
    font-weight: normal;
    line-height: 36px;
    color: $white;

    @include media('<desktop') {
      font-size: 16px;
      line-height: 25px;
    }

    @include media('<tablet') {
      font-size: 18px;
      line-height: 36px;
      display: block;
    }

    &:before {
      position: absolute;
      content: '\e900';
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 32px;
      height: 32px;
      font-family: 'icomoon';
      text-align: center;
      line-height: 33px;
      color: $white;
      border-radius: 50%;
      background-color: $red;
      transition: transform 0.3s ease;

      @include media('<=425px') {
        top: 0px;
        transform: translateY(0);
      }
    }

    &:hover {
      &:before {
        transform: translateY(-50%) rotate(-90deg);

        @include media('<=425px') {
          transform: translateY(0) rotate(-90deg);
        }
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0 -24px;
  padding: 61px 0 60px;
  list-style: none;

  @include media('<=desktop') {
    padding: 30px 0 20px;
  }

  @include media('<tablet') {
    overflow-x: scroll;
  }

  li {
    position: relative;
    padding: 0 26px;

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:first-child {
      &:before {
        display: none;
      }
    }

    &.disable {
      @include media('<tablet') {
        white-space: nowrap;
      }
      a {
        pointer-events: none;
        color: rgba(255, 255, 255, 0.25);
      }
    }

    a {
      color: rgba(255, 255, 255, 0.5);

      @include media('<tablet') {
        white-space: nowrap;
      }

      &:hover {
        color: $white;
      }
    }
  }
}

.card {
  width: 100%;

  @include media('<desktop') {
    width: 33.3%;
    padding: 0 15px;
  }

  @include media('<tablet') {
    width: 100%;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    padding: 50px 50px 39px 50px;
    font-size: 18px;
    line-height: 36px;
    background-color: $gray;

    @include media('<=desktop-max') {
      padding: 30px;
    }

    @include media('<desktop') {
      flex-direction: column;
    }
  }

  picture {
    max-width: 30%;
    padding-right: 100px;

    @include media('<=widescreen') {
      padding-right: 30px;
    }

    @include media('<=large') {
      width: 30%;
    }

    @include media('<desktop') {
      width: 100%;
      max-width: 100%;
      padding-right: 0;
    }

    @include media('<tablet') {
      margin-bottom: 20px;
    }

    img {
      max-height: 325px;
      @include media('<tablet') {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .description {
    width: 35%;

    @include media('<=widescreen') {
      margin: 0 auto;
    }

    @include media('<desktop') {
      width: 100%;
    }

    p {
      margin: 0 0 10px;
      font-size: 18px;

      @include media('<=desktop') {
        font-size: 16px;
        line-height: 32px;
      }
    }

    a {
      position: relative;
      color: #fff;

      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
      i {
        position: relative;
        top: 2px;
        right: -10px;
      }
    }
  }

  h3 {
    margin: 0 0 29px;
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;

    @include media('<=desktop') {
      font-size: 24px;
      line-height: 32px;
    }

    @include media('<tablet') {
      margin: 0 0 20px;
      font-size: 32px;
      line-height: 44px;
    }

    a {
      color: $white;

      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .details {
    margin: -10px 90px 0 auto;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;

    @include media('<=widescreen') {
      margin: -10px 0 0 auto;
    }

    @include media('<desktop') {
      display: none;
    }

    li {
      &:first-of-type {
        margin-bottom: 41px;

        span {
          &:before {
            content: '\e90a';
          }
        }
      }

      &:last-of-type {
        span {
          &:before {
            content: '\e909';
          }
        }
      }
    }

    span {
      position: relative;
      margin-bottom: 10px;
      padding: 0 0 0 40px;
      font-size: 16px;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.75);

      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-family: 'icomoon';
        font-size: 24px;
      }
    }

    p {
      margin: 10px 0 0;
      padding-left: 40px;
    }
  }
}

.card-news {
  @include media('<tablet') {
    display: flex;
    flex-direction: column;
  }

  picture {
    height: 300px;
    display: block;
    margin-bottom: 33px;
    overflow: hidden;

    @include media('<=desktop-max') {
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .time {
    margin-bottom: 16px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.5);

    @include media('<tablet') {
      order: 3;
      margin-bottom: 0;
    }

    &:before {
      left: 1px;
      font-size: 20px;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    margin: 0;

    @include media('<=desktop-max') {
      margin-bottom: 20px;
      order: 2;
    }

    @include media('<tablet');
  }

  a {
    color: $white;

    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 74px 0 50px;

  @include media('<=desktop-max') {
    padding: 50px 0;
  }

  @include media('<=tablet') {
    padding: 30px 0;
  }

  .pagination-link {
    color: rgba(255, 255, 255, 0.25);

    &:hover,
    &.active {
      color: rgba(255, 255, 255, 0.75);
    }

    i {
      font-size: 21px;
    }
  }

  p {
    display: flex;
    align-items: center;
    margin: 0 43px;
    color: rgba(255, 255, 255, 0.75);

    .pagination__active {
      display: block;
      margin: 0 17px;
      padding: 8px 16px;
      color: $white;
      background-color: $gray;
    }

    span {
      margin-left: 5px;
    }
  }
}

.tabs {
  &-list {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    @include media('<desktop') {
      overflow-x: scroll;
      padding-bottom: 20px;
    }

    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -17px;
      height: 2px;
      background-color: $gray;

      @include media('<desktop') {
        right: inherit;
        width: 100%;
        bottom: 3px;
      }
    }

    li {
      position: relative;
      margin: -17px 0;
      padding: 17px 30px;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.75);
      cursor: pointer;

      @include media('<=desktop-max') {
        padding: 0 20px;
      }

      @include media('<desktop') {
        flex-shrink: 0;
        flex-grow: 0;
        white-space: nowrap;
      }

      &.active {
        color: $white;

        &:before {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          bottom: 0;
          height: 2px;
          background-color: $red;
        }
      }
    }
  }

  &-content {
    display: none;
    justify-content: space-between;

    &.active {
      display: flex;
    }
  }
}

.contact-block {
  padding: 50px 40px;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  background-color: $gray;

  @include media('<=widescreen') {
    padding: 50px 30px;
  }

  &.touch {
    padding: 100px 75px;
    background-color: $red;

    @include media('<=widescreen') {
      padding: 50px 30px;
    }

    @include media('<phone') {
      padding: 30px 20px;
    }
  }

  p {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  a {
    color: $white;
    @include media('<=widescreen') {
      line-height: 32px;
    }
  }

  .tel,
  .mail,
  .user,
  .location {
    position: relative;
    padding-left: 36px;
    font-size: 16px;
    line-height: 22px;

    @include media('<=widescreen') {
      line-height: 32px;
    }

    @include media('<=phone') {
      padding-left: 28px;
      line-height: 30px;
    }

    @include media('<phone') {
      font-size: 12px;
      line-height: 18px;
    }

    &:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      font-family: 'icomoon';
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);

      @include media('<=widescreen') {
        top: -4px;
        transform: translateY(0);
      }

      @include media('<=phone') {
        top: -4px;
      }

      @include media('<phone') {
        top: 0;
      }
    }
  }

  .location {
    &:before {
      content: '\e905';
    }
  }

  .tel {
    &:before {
      content: '\e907';
    }
  }
  .mail {
    &:before {
      content: '\e906';
    }
  }
  .user {
    &:before {
      content: '\e90c';
    }
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 40px;
  }
}

.slick-initialized {
  visibility: visible;
}
.slider-wrapper {
  visibility: hidden;
}

#product-contact-form {
  input,
  textarea {
    min-width: 100px;
  }
}

.wp-block-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
