#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  max-height: 100px;
  background-color: $gray;
  color: $white;

  .container {
    display: flex;
  }

  .inner-wrapper {
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;

    @include media('<tablet') {
      min-height: 60px;
    }
  }

  .logo-wrapper {
    @include media('<tablet') {
      max-width: 50%;
    }
  }

  a {
    color: $white;

    @include media('<tablet') {
      display: flex;
      align-items: center;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &.active {
    z-index: 1000;
    .burger-brick {
      &:first-child {
        transform: rotate(405deg);
        margin-top: 0px;
      }

      &.middle {
        transform: scale(0);
      }

      &:last-child {
        transform: rotate(-405deg);
        margin-top: -7px;
      }
    }

    #nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $gray-100;
      overflow-y: scroll;
      overflow-x: hidden;
      z-index: 100;
    }
  }
}

.block-submenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 100px 0 0;
  background-color: #202020;
  transition: transform 0.7s ease-in-out, height 0.7s ease-in-out;
  transform: translateY(-100%);
  z-index: 100;

  @include media('<1440px') {
    display: none;
  }

  &.active {
    transform: translateY(0);

    .col-first {
      .img-wrap {
        transform: translateY(-20%);
      }
    }

    .menu-footer {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .col {
    width: 25%;
    border-right: 1px solid #303030;

    &:not(.col-first) {
      position: relative;
      display: flex;
      align-items: flex-start;

      .img-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 255px;
        padding: 20px 0 0;
        object-fit: cover;
        transform: translateY(-120%);
        transition: transform 0.6s ease-in-out;

        picture {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            object-fit: contain;
          }
        }

        &.active {
          transform: translateY(0);
        }
      }
    }

    &-first {
      picture {
        transform: translateY(0);

        transition-delay: 0.6s;
        transition: transform 0.6s ease-in-out;

        &.hide {
          transform: translateY(-120%);
        }
      }
    }

    .wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      padding: 325px 0 0;
      text-align: left;

      .content {
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
      }
    }
  }

  .category-name {
    display: block;
    margin: 0 0 15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
  }

  .menu-footer {
    position: fixed;
    opacity: 0;
    bottom: 50px;
    left: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: 1520px;
    padding: 0 20px;
    transition: transform 0.6s ease-in-out, opacity 0.6s;
    transition-delay: 0.6s;
    transform: translateY(100%);
    z-index: 1000;

    h2 {
      font-size: 48px;
      font-weight: 800;
    }

    a {
      font-size: 16px;
      color: #fff;

      &:hover {
        i {
          right: -10px;
        }
      }

      i {
        right: -5px;
        transition: right 0.6s ease;
      }
    }
  }

  .products-list {
    width: 50%;
    li {
      margin: 0 0 15px;
      white-space: nowrap;
    }

    a {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      &:hover {
        i {
          opacity: 1;
        }
      }

      i {
        position: relative;
        left: 10px;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.3;
        opacity: 0;
        transition: opacity 0.6s ease;
      }
    }
  }

  a {
    position: relative;
    line-height: 1.3;

    i {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.3;
      transition: left 0.6s ease;
    }
  }

  picture {
    display: block;

    img {
      display: block;
    }
  }
}

#nav {
  font-size: 16px;

  @include media('<=desktop') {
    position: absolute;
    left: -9999px;
    transition: left 0.3s ease;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0 -25px;
    padding: 0;

    @include media('<=large') {
      margin: 0 -10px;
    }

    @include media('<=desktop') {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      padding: 15vh 0;
      font-size: 18px;
      margin: 0 auto;
    }
  }

  li {
    margin: 0 25px;

    @include media('<=large') {
      margin: 0 10px;
    }

    @include media('<=desktop') {
      text-align: left;
      margin-bottom: 50px;
    }

    &.active {
      a {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &.menu-item-has-submenu {
      position: relative;

      &:before,
      &:after {
        position: absolute;
        opacity: 1;
        content: '';
        background-color: rgba(255, 255, 255, 0.5);
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;

        @include media('<1440px') {
          display: none;
        }
      }

      &:after {
        top: 4px;
        right: -16px;
        width: 2px;
        height: 14px;

        @include media('<=1440px') {
          top: 6px;
          right: -9px;
          height: 10px;
        }
      }

      &:before {
        top: 10px;
        right: -22px;
        height: 2px;
        width: 14px;

        @include media('<=1440px') {
          right: -13px;
          width: 10px;
        }
      }

      &.open {
        &:after {
          transform: rotate(-90deg);
          opacity: 0;
        }
      }
    }

    a {
      white-space: nowrap;
    }
  }
}

.burger {
  display: none;

  @include media('<=desktop') {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 -20px 0 0;
    cursor: pointer;
    z-index: 100;
  }

  &-brick {
    width: 20px;
    height: 2px;
    background: $white;
    margin-top: 3px;
    transition: 0.3s ease-out;
  }
}
